.order__price {
  position: absolute;
  background: #feb51d;
  padding: 4px 18px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  right: 24px;
  top: -10px;
}

.your-order__order {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--bg-color2);
  padding: 12px;
  border-radius: 12px;
  margin-right: 10px;
}

.order__img {
  width: 58px;
  height: 58px;
  margin-right: 10px;
  border-radius: 10px;
}

.order__info h3 {
  font-size: 10px;
}

.order__info p {
  font-size: 10px;
}

.order__quantity {
  background-color: var(--fg-color);
  border-radius: 8px;
  padding: 14px 10px;
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 600;
  margin: 0 24px 0 auto;
}
