.order-card__container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 540px;
  width: 540px;
  background-color: var(--bg-color);
  color: var(--fg-color);
  border-radius: 15px;
  align-items: start;
  padding: 18px 20px;
}

.order-card__container h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* --- REGISTERED INFO --- */

.order-card__registered-info {
  margin-left: 10px;
  width: 96%;
}

.registered-info__title {
  font-size: 12px;
  margin-bottom: 8px;
}

.registered-info__profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--bg-color2);
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 14px;
}

.profile__img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 10px;
}

.profile__info h3 {
  font-size: 10px;
  margin-bottom: 4px;
}

.profile__info p {
  font-size: 10px;
}

/* --- ORDERS --- */

.order-card__your-order {
  margin-left: 10px;
  width: 96%;
  margin-bottom: 16px;
}

.your-order__title {
  font-size: 12px;
  margin-bottom: 8px;
}

.order-card__orders {
  display: flex;
  height: 140px;
  flex-direction: column;
  gap: 18px;
  overflow-y: scroll;
  padding: 10px 0 0;
}

.order-card__orders::-webkit-scrollbar {
  display: block;
  background-color: var(--bg-color2);
  border-radius: 4px;
  width: 5px;
}

.order-card__orders::-webkit-scrollbar-thumb {
  background: var(--fg-color2);
  border-radius: 4px;
}

/* --- SENT TO --- */

.order-card__sent-to {
  margin-left: 10px;
  width: 96%;
}

.sent-to__title {
  font-size: 12px;
  margin-bottom: 8px;
}

.sent-to__card {
  display: flex;
  align-items: center;
  background-color: var(--bg-color2);
  padding: 8px 22px;
  border-radius: 15px;
  margin-bottom: 12px;
  justify-content: space-between;
}

.sent-to__wrapper {
  display: flex;
  align-items: center;
}

.sent-to__card p {
  font-size: 10px;
}

.sent-to__expand {
  width: 22px;
  height: 22px;
  margin-right: 18px;
}

.sent-to__search {
  cursor: pointer;
  width: 28px;
  height: 28px;
}

/* --- PRICE --- */

.order-card__price {
  margin-left: 10px;
  width: 96%;
}

.price__table {
  margin: 0 10px 10px auto;
  width: fit-content;
}

.table__row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.table__row p {
  font-size: 12px;
  margin: 2px;
}

.price {
  font-weight: 700;
}

.price__pay {
  background-color: #050505;
  display: flex;
  border-radius: 8px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.price__pay a {
  font-size: 12px;
  color: var(--bg-color2);
  font-weight: 300;
  text-decoration: none;
}

.price__pay span {
  font-weight: 700;
  color: var(--bg-color);
}

/* --- WORKING WITH --- */

.order-card__working-with {
  margin-left: 10px;
  width: 96%;
}

.order-card__working-with p {
  font-size: 10px;
  text-align: center;
  color: var(--fg-color2);
  margin: 16px 18px 0;
}

.order-card__working-with span {
  font-size: 12px;
  font-weight: 700;
}
