.checkout-card__container {
  display: flex;
  flex-direction: column;
  min-width: 480px;
  width: 480px;
  background-color: var(--bg-color);
  color: var(--fg-color);
  border-radius: 15px;
  align-items: start;
  padding: 18px 20px;
}

.checkout-card__container img {
  width: 110px;
}

.checkout-card__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 52px;
  gap: 25px;
}

.checkout-card__content p {
  font-size: 12px;
}

.content__pay {
  width: 70%;
}

.content__pay a {
  background-color: #635bff;
  width: 100%;
  display: inline-block;
  border-radius: 8px;
  padding: 12px 22px;
  font-size: 12px;
  color: var(--bg-color2);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.content__pay a:hover {
  opacity: 1;
}

.content__pay img {
  width: 40px;
}

.link-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.link-wrapper p {
  font-weight: 500;
}

.content__pay span {
  font-weight: 700;
  color: var(--bg-color);
}

.link-price {
  color: var(--bg-color);
  font-weight: 600;
}
